@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-cabecalho: #20c5eb;
    --cor-terciaria: #22D4FD;
    --cor-rodape: #012640;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

* {
    /* box model - reset dos elementos abaixo */
    margin: 0;
    padding: 0;
}

body {
    /* height -> não precisa mais indicar para pegar a tela toda, elementos existentes ultrapassaram altura da tela */
    /* altura do elemento body da tela = 100% do viewport. */
    /* height: 100vh; */
    /* encolhe o conteúdo dentro da página levando em consideração o tamanho do border e padding */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1% 0% 1% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 4%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.13rem;
    font-weight: 600;
    color: var(--cor-cabecalho);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 1% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    /* no figma aponte para o objeto e digite a tecla alt para ter a altura do espaçamento entre os filhos */
    gap: 1.125rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.apresentacao__conteudo__curriculo {
    text-align: justify;
    font-family: var(--fonte-primaria);
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 1.5;
}

.apresentacao__conteudo__curriculo__no-bullet {
    list-style-type: none;
}

.apresentacao__conteudo__curriculo__link-certificado {
    color: var(--cor-terciaria);
    text-align: justify;
    font-family: var(--fonte-primaria);
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 1.9;
}

.apresentacao__conteudo__curriculo__link-certificado:hover {
    color: var(--cor-secundaria);
}

.rodape {
    background-color: var(--cor-rodape);
    color: var(--cor-secundaria);
    padding: 0.7%;
    /* As 2 linhas abaixo não são necessarias, substituidas por "text-align: center", pois o conteudo é um texto
    display: flex;
    justify-content: center; */
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
}